[submodule "fedora_coreos/files/vendor/docker-elk"]
	path = fedora_coreos/files/vendor/docker-elk
	url = https://github.com/deviantony/docker-elk.git
	branch = 8.2212.1
[submodule "expressobin-router/files/vendor/v4l2rtspserver"]
	path = expressobin-router/files/vendor/v4l2rtspserver
	url = https://github.com/mpromonet/v4l2rtspserver.git
