[Unit]
After=network.target
Wants=network-online.target
RequiresMountsFor=%t/containers
ConditionPathExists=/usr/local/bin/podman-compose

[Service]
Type=forking
RestartSec=60
TimeoutStopSec=300
Restart=on-failure
Environment=PODMAN_SYSTEMD_UNIT=%n
WorkingDirectory=/usr/local/etc/v4l2rtspserver

ExecStartPre=/bin/rm \
    -f %t/pod-%n.infra.ctr-id \
    %t/%n.infra.pod-id
ExecStart=/usr/local/bin/podman-compose \
    --pod-args="--infra-conmon-pidfile=%t/%n.infra.ctr-id --pod-id-file=%t/%n.infra.pod-id --infra=true" \
    up \
    -d

ExecStop=/usr/local/bin/podman-compose \
    --podman-stop-args="--pod-id-file=%t/%n.infra.pod-id" \
    stop \
    -t 10 \
    2> /dev/null
ExecStopPost=/usr/local/bin/podman-compose \
    --podman-stop-args="--pod-id-file=%t/%n.infra.pod-id" \
    down \
    -t 10 \
    2> /dev/null

[Install]
WantedBy=multi-user.target